<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="menu">
      <button onclick="location.href='/'">Log In</button>
      <button onclick="location.href='/play'">Play</button>
      <button onclick="location.href='/scores'">Scores</button>
      <button>Restart</button>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages%} {% if category == 'error'
    %}
    <div class="alert" role="alert">
      {{ message }}
      <button type="button" data-dismiss="alert">
        <span area-hidden="'true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="success" role="alert">
      {{ message }}
      <button type="button" data-dismiss="alert">
        <span area-hidden="'true">&times;</span>
      </button>
    </div>
    {%endif%} {% endfor %} {% endif%} {% endwith %} {% block content %} {%
    endblock %}
  </body>
</html>
