{% extends "base.html" %} {% block content %}
<form method="post" action="/users/login" 
enctype="application/x-www-form-urlencoded" class="login">
<h1 class=>Registration Form </h1>
<input name="username" type="text"required placeholder="username" class="form-control">
<input name="password" type="password"required placeholder="password" class="form-control">
<input name="confirm_password" type="password"required placeholder="confirm password" class="form-control">
<label class="checkbox">
<input type="checkbox" required> I accept terms of service
</label>
<button type="submit" class="log-button">Register</button>
</form>
{% endblock %}
