body{
  display: flex;
  background-color: #2f4f4f;
  color: white;
  flex-direction: column;
  min-height: 98vh;
}
a{
  color: white;
  font-weight: normal;
  margin-bottom: 20px;
}
.menu{
  display: flex;
  background-color: #63887E;
}
.menu-buttons{
  padding: 10px;
}

.login{
  background-color: #63887E;
  max-width: 400px;
  padding: 15px 35px 45px;
  margin: 100px auto;
  display: flex;
  flex-flow: column;
  border: 5px solid white;
  border-radius: 40px;
}
  .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    }
  input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
    
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
  .log-button{
    border-radius: 10px;
    padding: 5px;
  }
  