<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - CSS Cube Login Form</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <form autocomplete="off" class="form">
      <div class="control">
        <h1>Sign In</h1>
      </div>
      <div class="control block-cube block-input">
        <input name="username" placeholder="Username" type="text" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <div class="control block-cube block-input">
        <input name="password" placeholder="Password" type="password" />
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
      </div>
      <button class="btn block-cube block-cube-hover" type="button">
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div class="text">Log In</div>
      </button>
      <div class="credits">
        <a href="https://codepen.io/marko-zub/" target="_blank">
          My other codepens
        </a>
      </div>
    </form>
    <!-- partial -->
  </body>
</html>
